@model RegistroViewModel

@{
    ViewData["Title"] = "Inicio de sesión";
}

<h1 class="text-center">¡Registrate!</h1>


<form asp-action="Register" asp-controller="Ingreso" method="POST">
    <div>
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    
    <div>
        <label asp-for="Correo"></label>
        <input asp-for="Correo" class="form-control" />
        <span asp-validation-for="Correo" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Contrasenia"></label>
        <input asp-for="Contrasenia" class="form-control" type="password" />
        <span asp-validation-for="Contrasenia" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="ConfirmarContrasenia"></label>
        <input asp-for="ConfirmarContrasenia" class="form-control" type="password" />
        <span asp-validation-for="ConfirmarContrasenia" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Registrate</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
